<h1>Current SENSOR READINGS!</h1>


<div class="sensor">
	<h3>Spark 1</h3>
	<h3>Temperature: <%=@temperature%> degrees </h3>
	<h3>Humidity: <%=@humidity%>%</h3>
</div> <!-- end sensor div -->

<div class="sensor">
<h3>Spark 2</h3>
<h3>Temperature: <%=@temp2%> degrees </h3>
<h3>Humidity: <%=@humid2%>%</h3>
</div> <!-- end sensor div -->
