%h1 Current Sensor Readings!
%div#nav
  =link_to "Readings", readings_path


%div.sensor
  %h3.core= link_to "Spark 1 (Rhys's Room)", root_path(:core => "Spark1")
  %p.reading#spark1temp 
    Temprature: 
    =image_tag("loading.gif", :height => '21px')
  %p.reading#spark1humid
    Humidity: 
    =image_tag("loading.gif", :height => '21px') 

%div.sensor
  %h3.core= link_to "Spark 2 (The basement)", root_path(:core => "Spark2")
  %p.reading#spark2temp
    Temprature: 
    =image_tag("loading.gif", :height => '21px')
  %p.reading#spark2humid
    Humidity: 
    =image_tag("loading.gif", :height => '21px')

=high_chart("chart", @chart)  

%script{:type => "text/javascript",
        :src => "/d3.min.js"} 
%script{:type => "text/javascript",
        :src => "/spark.js"}
